
ul.footer {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
}

.footer__container {
  margin: 50px 0;
  padding: 10px 0;
  border-top: 2px dotted lightgray;
  position: relative;
  bottom: 0;
  width: 100%;
}