
.header {
  display: flex;
  justify-content: center;
}

.header__container {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 50%;
  // margin: -40px 0 -60px;
  display: flex;
  justify-content: center;
  display: flex;
  margin: 10px 5px 35px;
  @include tablette {
    width: 40%;
  }
}

// .header__nav {
//   display: flex;
//     position: absolute;
//     width: 100%;
    
// }

.header__list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 2px;
}

.header__link--visited {
  color: lightgray;
}

.fas {
  font-size: 1.3rem;
}

