html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html, body, p {
  font-family: "asap", "open-sans";
}

body {
  max-width: 98%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-family: "quicksand", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/*****************Media Queries******************/
/*media tablette*/
.header__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header__logo {
  width: 160px;
  display: flex;
  justify-content: center;
  display: flex;
  margin: 10px 5px 35px;
}

.header__list {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 2px;
}

.header__link--visited {
  color: lightgray;
}

.fas {
  font-size: 1.3rem;
}

a {
  color: #35424a;
  opacity: 0.8;
  display: flex;
}

a:hover,
a:active {
  color: blue;
  font-weight: bold;
  transition: opacity 0.3s;
  font-weight: bold;
}

.forum__container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 850px) {
  .forum__container {
    display: flex;
    justify-content: center;
  }
}

.sidebar {
  font-size: 14px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  align-content: center;
}
@media screen and (min-width: 850px) {
  .sidebar {
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    border: 1px inset lightgray;
  }
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 0.6em 0;
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border: none;
}

.fas,
.far {
  vertical-align: middle;
  margin-top: -5px;
  width: 23px;
  height: 30px;
}
.fas:hover,
.far:hover {
  opacity: 0.67;
  transition: opacity 0.3s;
}

@media screen and (min-width: 850px) {
  .fas {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 850px) {
  #main {
    margin: 0 15px;
    width: 40rem;
  }
}

#title__link {
  display: flex;
  justify-content: center;
}

#para__Img {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-top: 1px solid rgba(255, 150, 157, 0.2);
}

@media screen and (min-width: 850px) {
  .aside {
    width: 260px;
    flex: none;
  }
}

.profil {
  display: none;
}
@media screen and (min-width: 850px) {
  .profil {
    display: block;
    width: 15rem;
  }
}

.card {
  border: dotted 4px rgba(255, 150, 157, 0.68);
  border-radius: 6px;
  margin-bottom: 15px;
}
.card__header {
  padding: 10px;
}
.card__header--avatar {
  position: relative;
  padding-left: 65px;
  margin-top: -5px;
}
.card__pseudo {
  font-weight: bold;
}
.card__avatar {
  width: 50px;
  height: 50px;
  border-radius: 48%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.card__title {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgba(43, 43, 43, 0.65);
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.card__text {
  line-height: 1.2rem;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border-top: solid 1px rgba(255, 150, 157, 0.2);
  border-bottom: solid 1px rgba(255, 150, 157, 0.2);
}
.card__time {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
  margin-top: 3px;
}
.card__body {
  padding: 0 10px 10px 10px;
}
.card__footer {
  display: flex;
  padding: 10px;
  font-size: 14px;
}

@media screen and (min-width: 850px) {
  .single__card {
    width: 75%;
  }
}

.aside__card {
  border: 1px outset lightslategrey;
  border-radius: 3px;
  margin-bottom: 20px;
}
.aside__card__header {
  padding: 10px;
}
.aside__card__header--avatar {
  position: relative;
  padding-left: 65px;
}
.aside__card__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.aside__card__title {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin: 5px 0;
}
.aside__card__text {
  line-height: 1.2rem;
}
.aside__card__time {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
}
.aside__card__body {
  padding: 0 10px 10px 10px;
}

.new {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  color: greenyellow;
}

.sidebar__title {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.sidebar__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  background: #000;
}

.friend {
  margin: 14px, 0;
  display: flex;
}
.friend__avatar {
  width: 73px;
  height: 73px;
  flex: none;
  margin-right: 10px;
}
.friend__name {
  display: block;
  font-weight: bold;
  color: #000;
}
.friend__connexion {
  font-size: 13px;
}
.friend__add {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: #000;
}

.fa-user-plus {
  margin-right: 5px;
  color: blue;
  font-size: 20px;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__fullWidth {
  object-fit: cover;
  width: 100%;
}

.card__body p:first-child {
  margin-top: 0;
}

.card__body p:last-child {
  margin-bottom: 0;
}

.card_last_child {
  margin-bottom: 0;
}

#form-error {
  color: red;
  padding-left: 5px;
}

#post {
  display: none;
  justify-content: center;
  flex-direction: column;
  height: 320px;
  padding: 15px;
  background-color: #f1eeee;
}

label {
  vertical-align: top;
}

#title {
  margin-bottom: 10px;
}

#content {
  width: 100%;
  margin-top: 5px;
}

input,
textarea {
  border-radius: 6px;
  border: 3px inset;
}

input.error,
textarea.error {
  border: 1px inset #ff0000;
  background: rgba(255, 0, 0, 0.1);
}

#send-post-btn {
  border: 1px outset #00c895;
  background-color: #84edd2;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #5734f31a;
  width: 5rem;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img404 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 64px;
}

.title404 {
  position: absolute;
  z-index: 1;
  top: 55px;
  font-size: 2rem;
  font-weight: bold;
}

#button404 {
  z-index: 1;
  position: relative;
  top: -43px;
  left: -161px;
  padding: 10px;
  width: 162px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
}
#button404 :hover {
  color: orange;
}

ul.footer {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
}

.footer__container {
  margin-top: 50px;
  border-top: 2px dotted lightgray;
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
  padding: 40px 10px;
}

.footer__bottom {
  margin-top: 50px;
  border-top: 2px dotted lightgray;
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
  padding: 40px 10px;
}

/*# sourceMappingURL=admin.css.map */
