html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body, p {
  font-family: "asap", "open-sans";
}

body {
  max-width: 100%;
  margin: 10px 25px;
  /*background: #f1f1f1*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-family: "quicksand", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/*****************Media Queries******************/
/*media tablette*/
.header {
  display: flex;
  justify-content: center;
}

.header__container {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 50%;
  display: flex;
  justify-content: center;
  display: flex;
  margin: 10px 5px 35px;
}
@media screen and (min-width: 576px) {
  .header__logo {
    width: 40%;
  }
}

.header__list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 2px;
}

.header__link--visited {
  color: lightgray;
}

.fas {
  font-size: 1.3rem;
}

a {
  color: #35424a;
  opacity: 0.8;
  display: flex;
}

a:hover,
a:active {
  color: #f85f6a;
  font-weight: bold;
  text-decoration: underline;
  transition: opacity 0.3s;
  font-weight: bold;
}

.forum__container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 850px) {
  .forum__container {
    display: flex;
  }
}

.sidebar {
  font-size: 14px;
  flex-direction: column;
}
@media screen and (min-width: 850px) {
  .sidebar {
    width: 28%;
    flex: none;
  }
}

.sidebar a {
  display: block;
  padding: 0.6em 0;
  width: 50%;
}

.fas,
.far {
  vertical-align: middle;
  margin-top: -5px;
  width: 23px;
  height: 30px;
  opacity: 0.67;
  transition: opacity 0.3s;
}

@media screen and (min-width: 850px) {
  .main {
    margin: 0 15px;
    width: 100%;
  }
}

@media screen and (min-width: 850px) {
  .aside {
    width: 25%;
    flex: none;
  }
}

.card {
  border: dotted 5px rgba(255, 150, 157, 0.25);
  border-radius: 3px;
  margin-bottom: 15px;
}
.card__header {
  padding: 10px;
}
.card__header--avatar {
  position: relative;
  padding-left: 65px;
}
.card__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.card__title {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin: 5px 0;
}
.card__time {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
}
.card__body {
  padding: 0 10px 10px 10px;
}
.card__footer {
  border-top: dotted 5px rgba(255, 150, 157, 0.25);
  display: flex;
  padding: 10px;
  font-size: 14px;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__fullWidth {
  object-fit: cover;
  width: 100%;
}

.card__body p:first-child {
  margin-top: 0;
}

.card__body p:last-child {
  margin-bottom: 0;
}

.card last child {
  margin-bottom: 0;
}

ul.footer {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
}

.footer__container {
  margin: 50px 0;
  padding: 10px 0;
  border-top: 2px dotted lightgray;
  position: relative;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=forum.css.map */
