html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html, body, p {
  font-family: "asap", "open-sans";
}

body {
  max-width: 98%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-family: "quicksand", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/*****************Media Queries******************/
/*media tablette*/
.header__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header__logo {
  width: 160px;
  display: flex;
  justify-content: center;
  display: flex;
  margin: 10px 5px 35px;
}

.header__list {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 2px;
}

.header__link--visited {
  color: lightgray;
}

.fas {
  font-size: 1.3rem;
}

main {
  display: flex;
  justify-content: center;
}

#inscription,
#connexion {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  #inscription,
#connexion {
    display: flex;
    flex-direction: column;
  }
}

section.login__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  section.login__container {
    width: 80%;
  }
}
@media screen and (min-width: 850px) {
  section.login__container {
    width: 45%;
  }
}

.login__heading {
  font-size: 1.2rem;
  margin: 0px 0 5px 0;
  color: #35424a;
}

.login__span {
  font-size: 0.9rem;
  color: #6e758c;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  color: #de3310;
  margin-bottom: 10px;
}

.terms__container {
  margin-top: 15px;
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) {
  .terms__container {
    display: flex;
    justify-content: center;
  }
}

.terms {
  color: #000;
}
.terms a {
  color: #de3310;
}

.input__form {
  padding: 15px 5px 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: currentcolor;
}

.form__rescue {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.signUp {
  color: #35424a;
  font-weight: bold;
}

.text-success {
  color: #3ac93a;
}

.text-danger {
  color: #f88918;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img404 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 64px;
}

.title404 {
  position: absolute;
  z-index: 1;
  top: 55px;
  font-size: 2rem;
  font-weight: bold;
}

#button404 {
  z-index: 1;
  position: relative;
  top: -43px;
  left: -161px;
  padding: 10px;
  width: 162px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
}
#button404 :hover {
  color: orange;
}

.check-btn {
  display: flex;
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.1rem;
  background-color: #ffd7d7;
  border-right: 1px solid lightslategrey;
  outline: none;
  border-radius: 5px;
  padding: 20px;
  color: #212121;
}

ul.footer {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
}

.footer__container {
  margin-top: 50px;
  border-top: 2px dotted lightgray;
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
  padding: 40px 10px;
}

.footer__bottom {
  margin-top: 50px;
  border-top: 2px dotted lightgray;
  position: absolute;
  width: 100%;
  font-size: 0.9rem;
  padding: 40px 10px;
}

/*# sourceMappingURL=style.css.map */
