a {
  color: $title-color;
  opacity: 0.8;
  display: flex;
}

a:hover,
a:active {
  color: $form-label;
  font-weight: bold;
  text-decoration: underline;
  transition: opacity 0.3s;
  // border: solid 1px gray;
  // border-radius: 3px;
  // background-color: lightgray;
  font-weight: bold;
}


.forum__container {
  padding: 0 15px;
  // max-width: 1080px;
  // display: flex;
  margin: 0 auto;
  @include big-tablette {
    display: flex;
  }
}

.sidebar {
  font-size: 14px;
  // flex-wrap: wrap;
  flex-direction: column;
  @include big-tablette {
      width: 28%;
      flex: none;
  }
  // background: springgreen;
 
}

.sidebar a {
  display: block;
  padding: 0.6em 0;
  width: 50%;
}

.fas,
.far {
  vertical-align: middle;
  margin-top: -5px;
  // padding-right: 2px;
  width: 23px;
  height: 30px;
  opacity: 0.67;
  transition: opacity 0.3s;
}

.main {
  // background: blue;
  @include big-tablette {
    margin: 0 15px;
    width: 100%;
  }
}
.aside {
  @include big-tablette {
    width: 25%;
    flex: none;
  }
}

.card {
  border: dotted 5px rgba(255, 150, 157, 0.25);
  border-radius: 3px;
  margin-bottom: 15px;
  &__header {
    padding: 10px;
    &--avatar {
      position: relative;
      padding-left: 65px;
    }
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin: 5px 0;
  }
  &__time {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
  }
  &__body {
    padding: 0 10px 10px 10px;
  } 
  &__footer {
    border-top: dotted 5px rgba(255, 150, 157, 0.25);
    display: flex;
    // justify-content: space-between;
    padding: 10px;
    // width: 15px;
    // height: 15px;
    font-size: 14px;
  } 
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // padding-left: 20px;
}

// .card__footer a {
//   display: flex;
// }

// footer div {
//   display: flex;
//   justify-content: space-between;
// }

// .card__fullWidth {
  
//     object-fit: cover;
//     width: 100%;
//     // width: calc(100% + 20px);
//     display: block;
//     // margin-left: -10px;
//     margin-right: -10px; 
// }

.card__fullWidth {
  object-fit: cover;
  width: 100%;
}

.card__body p:first-child {
  margin-top: 0;
}

.card__body p:last-child {
  margin-bottom: 0;
}

.card last child {
  margin-bottom: 0;
}
